.button {
    text-decoration: none;
    padding: 13px 0px;
    background-color: #0278FE;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
}

.button:hover {
    background-color: #0063D2;
}

.button_size_small {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    transition: .3s ease-in all;
}

.button_size_normal {
    max-width: 198px;
    font-size: 18px;
    line-height: 22px;
    transition: .3s ease-in all;
    margin: auto;
}

@media screen and (min-width: 768px){

    .button_size_small {
        max-width: 355px;
    }

}