.cities__item {
    margin-bottom: 16px;
}

.cities__header {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.cities__title {
    font-family: 'Inter Black';
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 30px;
}

.cities__artist {
    color: #aaa;
    font-size: 12px;
    line-height: 14.5px;
    margin: 0;
    text-transform: uppercase;
}

.cities__artist-name {
    font-size: 18px;
    line-height: 22px;
    margin: 8px 0 30px 0;
}

.cities__image {
    line-height: 0;
}

.cities__image-city {
    min-width: 320px;
    width: 100%;
    aspect-ratio: 1;
}

.cities__content {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0 16px;
}

.cities__content-paragraph {
    margin: 0;
}

.cities__button {
    padding: 8px 16px 0px;

}

.cities__display_block {
    display: block;
}

@media screen and (min-width: 768px){

    .cities__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'header header' 'image content' 'button content';
        grid-column-gap: 28px;
        padding: 0 24px;
        margin-bottom: 41px;
    }

    .cities__header {
        flex-direction: row;
        gap: 28px;
        grid-area: header;
        padding: 0;
    }

    .cities__title {
        font-size: 42px;
        line-height: 46px;
        margin: 0;
        flex: 1;
    }

    .cities__subtitle {
        flex: 1;
    }

    .cities__artist-name {
        margin-bottom: 48px;
    }

    .cities__image {
        grid-area: image;
    }

    .cities__image-city {
        min-width: 340px;
    }

    .cities__content {
        gap: 25px;
        grid-area: content;
        padding: 0;
    }

    .cities__button {
        grid-area: button;
        padding: 48px 0 0 0;
    }

}

@media screen and (min-width: 1280px){
    .cities__item {
        margin-bottom: 80px;
        padding: 0 148px;
        grid-column-gap: 40px;
    }
    .cities__header {
        gap: 40px;
    }
    .cities__title {
        font-size: 72px;
        line-height: 76px;
    }
    .cities__image-city {
        min-width: 460px;
    }
    .cities__content {
        gap: 25px;
    }
    .cities__content-paragraph {
        font-size: 18px;
        line-height: 29px;
    }
    
}