.cover {
    margin-top: 48px;
    box-sizing: border-box;
}

.cover__container {
    position: relative;
    line-height: 0;
    text-align: center;
}

.cover__image {
    width: 100%;
    min-height: 254px;
    filter: opacity(70%);
    object-fit: cover;
    transition: .3s ease-in all;
}

.cover__container:hover .cover__image {
    filter: opacity(30%);
}

.cover__data {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 320px;
    width: 100%;
}

.cover__title {
    font-family: 'Inter Black';
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px 0;
}

.cover__text {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    width: 100%;
}
.cover__text:nth-child(4){
    margin-bottom: 16px;
}

@media screen and (min-width: 768px){
    .cover {
        margin-top: 51px;
    }
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        margin: 0 0 32px 0;
    }

    .cover__text {
        font-size: 18px;
        line-height: 22px;
        margin: 0;
    }

    .cover__text:nth-child(4){
        margin-bottom: 32px;
    }

    .cover__image {
        min-width: 768px;
        height: 746px;
    }
}

@media screen and (min-width: 1280px){
    .cover {
        padding: 0 48px;
        margin-top: 12px;
    }

    .cover__image {
        max-width: 1184px;
        height: 740px;
    }
}