.gallery {    
    padding: 0 16px 62px;
}

.gallery__container {
    display: grid;
    grid-template-columns: minmax(288px, 1fr);
    grid-gap: 12px;
    justify-content: center;
}

.gallery__item {
    width: 100%; 
}

@media screen and (min-width: 768px){

    .gallery {
        padding: 0 24px 88px;
    }
    .gallery__container {
        grid-template-columns: repeat(2, minmax(352px, 1fr));
        grid-gap: 16px;
    }

}

@media screen and (min-width: 1280px){

    .gallery {
        padding: 0 48px 92px;
    }

    .gallery__container {
        grid-template-columns: repeat(4, minmax(284px, 1fr));
    }    
    
}