.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.header__logo {
  width: 200px;
  margin-top: 20px;
}

.header__title {
  margin: 50px auto 60px;
  font-family: 'Inter Black';
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}

.header__text {
  line-height: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.header__image {
  min-width: 320px;
  width: 100%;
  filter: grayscale(100%);
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 0 24px;
  }
  .header__logo {
    width: 270px;
    margin-top: 34px;
  }
  .header__title {
    margin: 90px auto 99px;
    font-size: 96px;
    line-height: 100px;
  }
  .header__text {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 69px;
  }
}

@media screen and (min-width: 1280px){
  .header {
    padding: 0 148px;
  }
  .header__container {
    padding: 0;
  }
}