.intro {
    padding: 44px 16px 38px;
}

.intro__title {
    margin: 0 0 9px 0;
    font-family: 'Inter Black';
    font-size: 32px;
    line-height: 35px;
}

.intro__phrase {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 32px;
}

.intro__phrase-author {
    align-self: flex-end;
}

.intro__phrase-author::before {
    content: '—';
    margin-right: 5px;
}

.intro__paragraph {
    line-height: 26px;
    margin: 0;
}

@media screen and (min-width: 768px){
    .intro {
        padding: 55px 24px 64px;
    }
    .intro__title {
        margin: 0 0 15px 0;
        font-size: 54px;
        line-height: 58px;    
    }
    .intro__phrase {
        line-height: 34px;
        margin: 0 0 42px;
    }
}

@media screen and (min-width: 1280px){
    .intro {
        padding: 92px 115px;
    }
}